.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.DS_Store
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
android/.gradle/
android/local.properties
android/key.properties
*.jks
_trash/
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral/
ios/fastlane/.env
ios/fastlane/keys/
*.p8
ios/fastlane/report.xml
ios/fastlane/Preview.html
app.*.symbols
/build

# screenshot working files
_shots/
*.mobileprovision
.agent/
__pycache__/
